<div class="m-2">
  <h1 class="text-center">Page du potin <%=@gossip_id.id%></h1>
  </br>
  <h4>Informations: </h4>
  <ul>
    <li>Titre: <%=@gossip_id.title%>  </li>
    <li>Contenu: <%=@gossip_id.content%> </li>
    <li>date de création: <%=@gossip_id.created_at%></li>
    <li>l'auteur:<a href="<%= @gossip_id.id %>/user/<%= @gossip_id.user_id%>"> <%= @gossip_id.user.first_name%></a></li>
  </ul>
</div>

