<div class="m-2">
  <h1 class="text-center">Page du potin <%=@gossip.id%></h1>
  </br>
  <h4>Informations: </h4>
  <ul>
    <li>Titre: <%=@gossip.title%>  </li>
    <li>Contenu: <%= @gossip.content%> </li>
    <li>Date de création: <%= @gossip.created_at.strftime("%Y-%m-%d")%></li>
    <li>Heure de création: <%= @gossip.created_at.strftime("%Hh%M")%></li>
    <li>L'auteur:<a href="<%=  @gossip.id %>/user/<%=  @gossip.user_id%>"> <%=  @gossip.user.first_name%></a></li>
    <li>Ville: <%= @gossip.user.first_name%></li>
    <a><%= link_to 'modifier', edit_gossip_path(@gossip.id), class: "btn btn-success" %></a>
    <a href="<%= gossip_path(@gossip.id)%>" class="btn btn-danger" data-confirm="êtes vous sur ?" data-method="DELETE" >supprimer</a>
    
  </ul>
</div>

